*{
    margin: 0;
}
body{
    font-family: 'Roboto', 'Arial', 'sans-serif';
    font-weight: 400;
}
.banniere{
    background: rgba(0, 0, 0, 0.5) url(images/26.png);
    background-size: cover;
    height: 750px;
    background-blend-mode: darken;
}
.banniere h1{
    padding-left: 15%;
    padding-top: 10%;
    padding-bottom: 15px;
    color: #fff;
    font-size: 40px;

}
.banniere p{
    padding-left: 15%;
    padding-top: 10px;
    font-weight: 400;
    color: #fff;
    font-size: 20px;
}
.banniere button{
    margin-top: 20px;
    margin-left: 15%;
    height: 45px;
    width: 150px;
    border: 1px solid #ce0033;
    border-radius: 20px;
    background-color:  #ce0033;
    color: #fff;
    font-size: 15px;
}